<div class="jumbotron" id="head">
	<div class="container">
		<h1>Root Edit</h1>
	</div>
</div>

<div id="body">
	<div class="container">
		<%= form_for @bb , :url => boss_path(@bb),:method => :patch do |f| %>
			<%= f.label :title , "Title" %>
			<%= f.text_field :title %>
			<br><br>
			<%= f.label :content , "Content" %>
			<%= f.text_area :content %>
			<br><br>
			<%= f.label :date , "Date" %>
			<%= f.date_select :date %>
			<br><br>
			<%= f.submit "Update",:class => "btn btn-success" %>
		<% end %>

		<%= link_to "<button class='btn btn-warning'>Back to Index</button>".html_safe, boss_index_path  %>
	</div>
</div>